<%= link_to "Add a new Todo", new_todo_path %>

<%= @todos.each do |todo| %>
  <div >
    <ul class='todos'>
      <li class="<%= 'completed' if todo.completed? %>">
        <%= todo.title %>
        <% if todo.completed? %>
          <%= button_to "Mark as incomplete", todo_completion_path(todo), method: :delete %>
        <% else %>
          <%= button_to "Mark as complete", todo_completion_path(todo) %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
